In [10]:
import duckdb
import pandas as pd
import plotly.express as px
from plotly_calplot import calplot

from common.env_variables import DUCKDB_DWH_FILE


def display_df(_df):
    with pd.option_context('display.max_rows', None, 'display.max_columns', None, "expand_frame_repr", False,
                           "display.float_format", '${:,.2f}'.format):
        display(_df.fillna('.'))


def display_sql(sql_statement):
    conn = duckdb.connect(DUCKDB_DWH_FILE, read_only=True)
    _df = conn.execute(sql_statement).df()
    conn.close()
    return _df

In [11]:
display_sql(f'''
WITH unique_online_at AS (
    SELECT DISTINCT online_at
      FROM curated.online_job
     ORDER BY 1
)
SELECT online_at as date_key,
       date_part('year', online_at) as year,
       date_part('month', online_at) as month,
       date_part('day', online_at) as day,
       monthname(online_at) as month_name,
       date_part('yearweek', online_at) as year_week,
       date_part('isodow', online_at) as day_of_week,
       dayname(online_at) as day_of_week_name
  FROM unique_online_at
''')

,date_key,year,month,day,month_name,year_week,day_of_week,day_of_week_name
0,2021-10-09,2021,10,9,October,202140,6,Saturday
1,2021-10-10,2021,10,10,October,202140,7,Sunday
2,2021-10-11,2021,10,11,October,202141,1,Monday
3,2021-10-12,2021,10,12,October,202141,2,Tuesday
4,2021-10-13,2021,10,13,October,202141,3,Wednesday
...,...,...,...,...,...,...,...,...
353,2022-09-27,2022,9,27,September,202239,2,Tuesday
354,2022-09-28,2022,9,28,September,202239,3,Wednesday
355,2022-09-29,2022,9,29,September,202239,4,Thursday
356,2022-09-30,2022,9,30,September,202239,5,Friday
357,2022-10-01,2022,10,1,October,202239,6,Saturday

In [12]:
display_sql(f'''
SELECT *
  FROM dim_time
''')

,date_key,year,month,day,month_name,year_week,day_of_week,day_of_week_name
0,2021-01-01,2021,1,1,January,202053,5,Friday
1,2021-01-02,2021,1,2,January,202053,6,Saturday
2,2021-01-03,2021,1,3,January,202053,7,Sunday
3,2021-01-04,2021,1,4,January,202101,1,Monday
4,2021-01-05,2021,1,5,January,202101,2,Tuesday
...,...,...,...,...,...,...,...,...
725,2022-12-27,2022,12,27,December,202252,2,Tuesday
726,2022-12-28,2022,12,28,December,202252,3,Wednesday
727,2022-12-29,2022,12,29,December,202252,4,Thursday
728,2022-12-30,2022,12,30,December,202252,5,Friday
729,2022-12-31,2022,12,31,December,202252,6,Saturday