In [1]:
from common.explore import display_df, display_sql

In [2]:
display_sql(f'''
SELECT *
  FROM curated.job_location
 ORDER BY load_timestamp DESC
 LIMIT 10
''')

    job_id      load_timestamp         location day month  year
0  8773209 2022-10-02 21:00:00       Wangerooge   2    10  2022
1  8773210 2022-10-02 21:00:00          Hamburg   2    10  2022
2  8773211 2022-10-02 21:00:00          Hamburg   2    10  2022
3  8773212 2022-10-02 21:00:00           Oppurg   2    10  2022
4  8773213 2022-10-02 21:00:00           Oppurg   2    10  2022
5  8773214 2022-10-02 21:00:00     Unterföhring   2    10  2022
6  8773215 2022-10-02 21:00:00         Mettmann   2    10  2022
7  8773216 2022-10-02 21:00:00     Wyk auf Föhr   2    10  2022
8  8773217 2022-10-02 21:00:00      Taunusstein   2    10  2022
9  8773218 2022-10-02 21:00:00  Bad Reichenhall   2    10  2022

In [3]:
display_sql(f'''
SELECT *
  FROM dim_job_location
 ORDER BY job_ldts DESC
 LIMIT 10
''')

,job_key,job_id,job_ldts,location_name
0,2284064cc9722eedee78de0c83aaab97,8773209,2022-10-02 21:00:00,Wangerooge
1,daac9fccfeafb13d2dfa142851a85407,8773210,2022-10-02 21:00:00,Hamburg
2,0d7360738d7b1591354958577eff3c12,8773211,2022-10-02 21:00:00,Hamburg
3,bd861b60fa66c019a79c989e34567d0f,8773212,2022-10-02 21:00:00,Oppurg
4,40cd7a2bebdcc033d1e36525f88769ca,8773213,2022-10-02 21:00:00,Oppurg
5,208e478152134a4578a416db5db25315,8773214,2022-10-02 21:00:00,Unterföhring
6,b22e754e0b9e40019c5d37a5f763920f,8773215,2022-10-02 21:00:00,Mettmann
7,c5e88d3478f4eb46910aec45bcba2973,8773216,2022-10-02 21:00:00,Wyk auf Föhr
8,1afb1a14faaa7e972d2733e83417e33f,8773217,2022-10-02 21:00:00,Taunusstein
9,842e99e8a93d288b19e0651814fdc607,8773218,2022-10-02 21:00:00,Bad Reichenhall

In [4]:
display_df(display_sql(f'''
SELECT location_name,
       COUNT(job_id) AS total
 FROM dim_job_location
WHERE location_name ILIKE '%remote%' OR
      location_name ILIKE '%home%'
GROUP BY 1
ORDER BY 2 DESC
LIMIT 100
'''))

                                        location_name  total
0                                         Home-Office   4307
1                                          Homeoffice   2281
2                                         Home Office   1175
3                                              Remote   1108
4                                              remote    702
5                            bundesweit (Home-Office)    170
6                                  Homeoffice möglich     99
7                                      Work from home     93
8                                          HomeOffice     77
9                                 remote (bundesweit)     70
10                                      remote Berlin     65
11                      deutschlandweit (Home-Office)     58
12                          bundesweit im Home-Office     48
13  Bad Homburg v. d. Höhe (mit Home Office Möglic...     48
14                  deutschlandweit (anteilig remote)     41
15                         remote in ganz Deutschland     41
16                 Düsseldorf & teilweise Home Office     40
17                      Home-Office (deutschlandweit)     37
18                                  Remote (flexibel)     36
19                       deutschlandweit (Homeoffice)     32
20                           bundesweit (Home Office)     32
21                                   teilweise Remote     31
22                                      im Homeoffice     31
23                         Homeoffice deutschlandweit     27
24                                Home-Office möglich     26
25                                     Remote möglich     26
26                                        Remote Work     25
27                        deutschlandweit Home-Office     23
28                                        Home office     22
29                                     Remote Working     21
30                           Home-Office (bundesweit)     21
31                            bundesweit (Homeoffice)     20
32  32825 Blomberg mit umfangreichen Homeoffice Mö...     17
33                                bundesweit (Remote)     17
34                                     im Home-Office     16
35                                        home office     15
36                             deutschlandweit remote     15
37                                       Home- Office     15
38                           Home Office (bundesweit)     14
39                           bundesweit im Homeoffice     14
40                      deutschlandweit (Home Office)     14
41                                         homeoffice     13
42                                Home Office möglich     13
43                                         Home based     13
44                           Bundesweit im Homeoffice     13
45                                   München + remote     13
46                   Homeoffice mit Reisebereitschaft     12
47                                  remote bundesweit     12
48                                        Remote-Work     11
49                          remote (mobiles Arbeiten)     11
50                                      Köln (remote)     11
51                             bundesweit Home-Office     11
52                              teilweise Home Office     11
53                              Homeoffice bundesweit     11
54                                bundesweit (remote)     11
55  Bad Homburg v. d. Höhe bei Frankfurt (mit Home...     10
56                                    München +remote      9
57                               Berlin (Home-Office)      9
58                        Home-Office deutschlandweit      9
59                              Leipzig (Home Office)      8
60                             remote deutschlandweit      8
61                             Home-Office (flexibel)      8
62                              München (Home-Office)      8
63  in Bad Homburg v. d. Höhe (mit Home Office Mög...      8
64                                        100% Remote      7
65                             Home-Office bundesweit      7
66                     deutschlandweit im Home Office      7
67                                     remote möglich      6
68                                         Home-based      6
69                               remote (Home-Office)      6
70                              Remote in Deutschland      6
71                                    Berlin (remote)      6
72                              bundesweit Homeoffice      6
73                       Homeoffice (deutschlandweit)      6
74                                     im Home Office      6
75                                 Remote Deutschland      6
76                                     Remote Germany      6
77                                Remote (Deutschland      6
78                                        Home-office      5
79                           Österreich (Home-Office)      5
80                          bundesweit im Home Office      5
81                 Düsseldorf & teilweise Home-Office      5
82                                         home-based      5
83                                        oder remote      5
84                                   Cologne (remote)      5
85                                 Home-Office Option      5
86                        Süddeutschland (Homeoffice)      5
87                  Nordrhein-Westfalen (Home-Office)      5
88                           deutschlandweit (remote)      5
89                          Deutschland (Home-Office)      5
90                                     und Homeoffice      5
91                           Österreich (Home Office)      5
92                                           -Remote-      4
93                              teilweise Home-Office      4
94                       Home Office in Niedersachsen      4
95        Bad Homburg (mit Home Office Möglichkeiten)      4
96                       Deutschlandweit (Homeoffice)      4
97                           bundesweit (100% remote)      4
98                                  bundesweit remote      4
99                             Bundesweit Home Office      4