In [1]:
import duckdb
import pandas as pd
import plotly.express as px
from plotly_calplot import calplot

from common.env_variables import DUCKDB_DWH_FILE

In [2]:
def display_df(df):
    with pd.option_context('display.max_rows', None, 'display.max_columns', None, "expand_frame_repr", False, "display.float_format", '${:,.2f}'.format):
        display(df.fillna('.'))

In [3]:
conn = duckdb.connect(DUCKDB_DWH_FILE, read_only=True)

In [4]:
df = conn.execute(f'''
SELECT * FROM location
LIMIT 100
''').df()
display_df(df)

                   location  job_count
0                    Berlin      98461
1                   Hamburg      88763
2                   München      85657
3         Frankfurt am Main      55276
4                 Stuttgart      44858
5                      Köln      44203
6                Düsseldorf      42574
7                  Hannover      21827
8                  Nürnberg      18802
9                   Leipzig      16443
10                    Essen      15877
11                   Bremen      14867
12                Karlsruhe      14226
13                 Mannheim      12509
14                 Dortmund      12068
15                     Bonn      11815
16                  Dresden      11510
17                  Münster       9021
18                Wiesbaden       7999
19                      Ulm       7942
20                Bielefeld       6671
21                    Mainz       6622
22                 Augsburg       6620
23               Heidelberg       6426
24                     Kiel       6137
25                 Duisburg       6050
26               bundesweit       5759
27               Regensburg       5731
28                Darmstadt       5592
29             Braunschweig       5492
30                   Aachen       5183
31               Neckarsulm       5086
32                   Bochum       4981
33                   Erfurt       4973
34               Ingolstadt       4836
35                   Kassel       4659
36                Wolfsburg       4471
37                 Würzburg       4439
38                 Freiburg       4310
39                   Lübeck       4276
40         Kreisfreie Stadt       4098
41                Gütersloh       4083
42              Home-Office       3971
43                Osnabrück       3851
44                Magdeburg       3825
45                  Rostock       3763
46                Heilbronn       3728
47                  Potsdam       3670
48                  Koblenz       3550
49                Wuppertal       3415
50     Freiburg im Breisgau       3394
51               Reutlingen       3381
52                  Krefeld       3370
53                     Jena       3363
54             Sindelfingen       3260
55                 Chemnitz       3234
56          Mönchengladbach       3130
57              Saarbrücken       3034
58              Ludwigsburg       2982
59                Oldenburg       2739
60                    Neuss       2739
61                 Erlangen       2553
62                Pforzheim       2552
63                Göttingen       2536
64                 Ratingen       2489
65                Paderborn       2460
66          deutschlandweit       2376
67                 Tübingen       2363
68              Norderstedt       2317
69               Leverkusen       2244
70                 Eschborn       2189
71                     Main       2172
72               Homeoffice       2159
73               Oberkochen       2140
74             Ludwigshafen       2097
75               Oberhausen       2082
76                Böblingen       2075
77  Leinfelden-Echterdingen       2037
78                 Bayreuth       1997
79                Offenburg       1967
80            Halle (Saale)       1949
81                    Hanau       1851
82                   Minden       1782
83           Kaiserslautern       1759
84                    Fulda       1680
85                    Fürth       1678
86            Gelsenkirchen       1669
87              Baden-Baden       1655
88                  Bamberg       1654
89               Hildesheim       1627
90                   Munich       1618
91                   Gießen       1611
92                 Landshut       1604
93                 Konstanz       1602
94          Friedrichshafen       1588
95                    Hagen       1588
96        Baden-Württemberg       1557
97             Neu-Isenburg       1553
98                Flensburg       1493
99                    Trier       1483

In [5]:
conn.close()