In [1]:
from common.explore import display_sql

In [2]:
display_sql(f'''
WITH unique_online_at AS (
    SELECT DISTINCT online_at
      FROM curated.online_job
     ORDER BY 1
)
SELECT online_at as date_key,
       date_part('year', online_at) as year,
       date_part('month', online_at) as month,
       date_part('day', online_at) as day,
       monthname(online_at) as month_name,
       date_part('yearweek', online_at) as year_week,
       date_part('isodow', online_at) as day_of_week,
       dayname(online_at) as day_of_week_name
  FROM unique_online_at
''')

,date_key,year,month,day,month_name,year_week,day_of_week,day_of_week_name
0,2021-10-09,2021,10,9,October,202140,6,Saturday
1,2021-10-10,2021,10,10,October,202140,7,Sunday
2,2021-10-11,2021,10,11,October,202141,1,Monday
3,2021-10-12,2021,10,12,October,202141,2,Tuesday
4,2021-10-13,2021,10,13,October,202141,3,Wednesday
...,...,...,...,...,...,...,...,...
353,2022-09-27,2022,9,27,September,202239,2,Tuesday
354,2022-09-28,2022,9,28,September,202239,3,Wednesday
355,2022-09-29,2022,9,29,September,202239,4,Thursday
356,2022-09-30,2022,9,30,September,202239,5,Friday
357,2022-10-01,2022,10,1,October,202239,6,Saturday

In [3]:
display_sql(f'''
SELECT *
  FROM dim_time
''')

,date_key,year,month,day,month_name,year_week,day_of_week,day_of_week_name
0,2021-10-09,2021,10,9,October,202140,6,Saturday
1,2021-10-10,2021,10,10,October,202140,7,Sunday
2,2021-10-11,2021,10,11,October,202141,1,Monday
3,2021-10-12,2021,10,12,October,202141,2,Tuesday
4,2021-10-13,2021,10,13,October,202141,3,Wednesday
...,...,...,...,...,...,...,...,...
353,2022-09-27,2022,9,27,September,202239,2,Tuesday
354,2022-09-28,2022,9,28,September,202239,3,Wednesday
355,2022-09-29,2022,9,29,September,202239,4,Thursday
356,2022-09-30,2022,9,30,September,202239,5,Friday
357,2022-10-01,2022,10,1,October,202239,6,Saturday