In [1]:
import duckdb
import pandas as pd
import plotly.express as px
from plotly_calplot import calplot

from common.env_variables import DUCKDB_DWH_FILE


def display_df(_df):
    with pd.option_context('display.max_rows', None, 'display.max_columns', None, "expand_frame_repr", False,
                           "display.float_format", '${:,.2f}'.format):
        display(_df.fillna('.'))


def display_sql(sql_statement):
    conn = duckdb.connect(DUCKDB_DWH_FILE, read_only=True)
    _df = conn.execute(sql_statement).df()
    conn.close()
    return _df

In [2]:
display_sql(f'''
SELECT *
  FROM dim_time
''')

      date_key  year  month  day monthname  yearweek  isodow    dayname
0   2021-01-01  2021      1    1   January    202053       5     Friday
1   2021-01-02  2021      1    2   January    202053       6   Saturday
2   2021-01-03  2021      1    3   January    202053       7     Sunday
3   2021-01-04  2021      1    4   January    202101       1     Monday
4   2021-01-05  2021      1    5   January    202101       2    Tuesday
..         ...   ...    ...  ...       ...       ...     ...        ...
725 2022-12-27  2022     12   27  December    202252       2    Tuesday
726 2022-12-28  2022     12   28  December    202252       3  Wednesday
727 2022-12-29  2022     12   29  December    202252       4   Thursday
728 2022-12-30  2022     12   30  December    202252       5     Friday
729 2022-12-31  2022     12   31  December    202252       6   Saturday

[730 rows x 8 columns]