In [1]:
from common.explore import display_sql

In [2]:
display_sql(f'''
WITH temp_job AS (
SELECT *
  FROM curated.job
 WHERE year = 2022 AND
       month = 8
)
SELECT MD5(CONCAT_WS('||',
            COALESCE(
                job_id,
                UPPER(TRIM(CAST(
                    job_id
                AS VARCHAR))),
                NULL,
                '^^'),
            COALESCE(
                load_timestamp,
                UPPER(TRIM(CAST(
                    load_timestamp
                AS VARCHAR))),
                NULL,
                '^^')
       )) AS job_key,
       job_id,
       load_timestamp as job_ldts,
       title,
       company_name
  FROM temp_job
''')

,job_key,job_id,job_ldts,title,company_name
0,a562531d15b5f0e1d466d00a9c10799c,6226881,2022-08-20 05:00:00,Kaufmännischer Mitarbeiter Wareneingang (m/w/d),RDB plastics GmbH
1,bc3034a5d94a222875ff4730d7dbaa0f,6809905,2022-08-20 05:00:00,Mechatroniker/ Elektriker/ Schlosser (m/w/d),Fude + Serrahn Milchprodukte GmbH & Co.KG
2,5afbf2a3c452d4a988268d12f87d1be9,6898134,2022-08-20 05:00:00,"Elektronikentwickler*in, Mikroelektroniker*in,...",MK Versuchsanlagen und Laborbedarf e.K.
3,15d85ce43c9f8744d7aa043e38c7d44f,7121358,2022-08-20 05:00:00,Vertriebsmitarbeiter (m/w/d) im Außendienst fü...,Toshiba Tec Germany Imaging Systems GmbH
4,45a3186cbab58a150aec0ad173df080f,7138865,2022-08-20 05:00:00,Fachärztin / Facharzt (m/w/d) für Orthopädie /...,Institut für Versicherungsmedizin
...,...,...,...,...,...
95866,980b183c432813fe59f155ae0704424d,8564714,2022-08-02 23:00:00,Lean/ Growtth Manager (w/m/d),Freudenberg Fuel Cell e-Power Systems GmbH
95867,a9871b8a559d6c73bc182bb7f589ed10,8564717,2022-08-02 23:00:00,Cost Engineer (w/m/d),Freudenberg Fuel Cell e-Power Systems GmbH
95868,354c7532a62bf5141dc614f2122a9709,8564721,2022-08-02 23:00:00,Werkstudent Materialwirtschaft (w/m/d,Freudenberg Fuel Cell e-Power Systems GmbH
95869,d86b3c4b4b52932db74046ce0154376e,8564805,2022-08-02 23:00:00,Baufinanzierungsberater (m/w/d),Volksbank Köln Bonn eG
95870,dc699380629270827bef8b274e9582c7,8564806,2022-08-02 23:00:00,Mitarbeiter Bau- und Immobilienmanagement (m/w/d),Volksbank eG Überlingen

In [3]:
display_sql(f'''
SELECT *
  FROM dim_job
  LIMIT 100
''')

,job_key,job_id,job_ldts,title,company_name
0,03cef34e2a36e56439c0e85e97d5eb25,3146267,2021-11-20 11:00:00,Praktikant / Werkstudent Sekretariat Teilzeit/...,PwC
1,b4c9e3c64c884e08f3a14b8c66e802a4,4196845,2021-11-20 11:00:00,(Senior) Consultant International Payroll Mana...,PwC
2,e24e186099fd8e2410b6075505de2975,4312165,2021-11-20 11:00:00,Executive Assistant (w/m/d),PwC
3,1d579437fccc189549c13b585543bb17,5224165,2021-11-20 11:00:00,Security Consultant - Automotive Security (m/w/d),ESCRYPT GmbH
4,ffd9c0655a2b8ca087a2219b6ea28fb2,5432734,2021-11-20 11:00:00,Penetration Tester (m/w/d),ESCRYPT GmbH
...,...,...,...,...,...
95,d44c8c8c46f955e201ae304375ad3b34,7498464,2021-11-20 11:00:00,F&B Manager (m/w/d),R & S Hotelbetriebsgesellschaft mbH AMANO GROUP
96,48929eccb609e90243d5de9beb29a371,7498767,2021-11-20 11:00:00,Product Owner Bosch Connected Biking: Customiz...,Bosch Gruppe
97,1d3204cfe98e59ea72054819c616e032,7501280,2021-11-20 11:00:00,Software Developer (w/m/d) Backend Java (auch ...,1&1
98,47f741eec823d96258d6a8b9eb19ebdb,7507202,2021-11-20 11:00:00,service techniker und mechaniker (m/w/d),falch gmbh
99,9ab3990fd6ec3bc07ba072ed91a2fc37,7508542,2021-11-20 11:00:00,Examinierte Pflegefachkraft / Pflegekraft (m/w...,maranatha SeniorenZentrum

In [4]:
display_sql(f'''
SELECT *
  FROM dim_job
  LEFT OUTER JOIN curated.job
    ON (dim_job.job_id   = job.job_id AND
        dim_job.job_ldts = job.load_timestamp)
 WHERE job.job_id IS NULL
''')

Empty DataFrame
Columns: [job_key, job_id, job_ldts, title, company_name, job_id_2, load_timestamp, title_2, online_status, is_anonymous, should_display_early_applicant, contract_type, work_type, online_date, company_name_2, description_introduction, description_responsabilities, description_requirements, description_perks, day, month, year]
Index: []

[0 rows x 22 columns]

In [5]:
display_sql(f'''
SELECT COUNT(*)
  FROM curated.job
''')

   count_star()
0       1159727

In [6]:
display_sql(f'''
SELECT COUNT(*)
  FROM dim_job
''')

   count_star()
0       1159727