In [ ]:
from common.explore import display_sql

In [111]:
display_sql(f'''
WITH new_fact_online_job AS (
SELECT online_at as date_key,
       job_id
  FROM curated.online_job
  --LEFT OUTER JOIN fact_online_job ON
 WHERE year = 2022 AND
       month = 09 AND
       day = 01
)
SELECT new_fact_online_job.date_key as date_key,
       latest_dim_job.job_key as job_key,
       latest_dim_job.job_id as job_id,
       latest_dim_job.job_ldts
  FROM new_fact_online_job
 INNER JOIN latest_dim_job
    ON (new_fact_online_job.job_id = latest_dim_job.job_id)
''')

,date_key,job_key,job_id,job_ldts
0,2022-09-01,941eadfbb6f8a8ba46cad9a7fcf6425a,1387144,2022-03-28 18:00:00
1,2022-09-01,ed226b7326153fec9e1a4358829fccc7,1474671,2022-04-03 14:00:00
2,2022-09-01,71aa008055314c7c03705818e6cea061,1486178,2022-03-28 18:00:00
3,2022-09-01,0b2b50e1d861b65e1237a841b18e75a7,1565699,2022-03-28 18:00:00
4,2022-09-01,9532967d07b6ec1af0794b563830d703,1579731,2022-03-28 18:00:00
...,...,...,...,...
146338,2022-09-01,dcf0ad1bcaf1c42e8e6b49ab28f80d40,8673468,2022-09-01 16:00:00
146339,2022-09-01,1f4ed39edda3d8549447337d3422cd1b,8670649,2022-09-01 08:00:00
146340,2022-09-01,16af892b73bb74dc862ef9f83bba4032,8670952,2022-09-01 09:00:00
146341,2022-09-01,d9ac479f5cd1922faee47ab603a7914a,8671232,2022-09-01 10:00:00
146342,2022-09-01,ad4668f991539cd500e5dd1c152fc7fc,8673219,2022-09-01 14:00:00

In [108]:
display_sql(f'''
SELECT *
  FROM fact_online_job
''')

       date_id   total
0   2021-10-09  113858
1   2021-10-10  111325
2   2021-10-11  111745
3   2021-10-12  114141
4   2021-10-13  116319
..         ...     ...
353 2022-09-27  142943
354 2022-09-28  145681
355 2022-09-29  149173
356 2022-09-30  150731
357 2022-10-01  149331

[358 rows x 2 columns]