In [39]:
import os
import time

import duckdb
import pandas as pd
import plotly.express as px
import pyarrow.parquet as pq

from common.env_variables import DUCKDB_DWH_FILE, CURATED_DIR, DATA_SOURCE_NAME
from common.storage import load_cleansed_df
from common.entity import SITEMAP, JOB_ONLINE

In [40]:
conn = duckdb.connect(DUCKDB_DWH_FILE)

In [41]:
entity = JOB_ONLINE

In [42]:
start_time = time.time()
df = conn.execute(f'''
SELECT *
FROM src_{entity.name}
WHERE
    year = 2022 AND
    month = 9 AND
    day = 1
;
''').df()
print("--- %s seconds ---" % (time.time() - start_time))
print(df)

--- 0.8494131565093994 seconds ---
         job_id      load_timestamp  online_at  \
0       8658436 2022-09-01 23:00:00 2022-09-01
1       8658437 2022-09-01 23:00:00 2022-09-01
2       8658438 2022-09-01 23:00:00 2022-09-01
3       8658440 2022-09-01 23:00:00 2022-09-01
4       8658442 2022-09-01 23:00:00 2022-09-01
...         ...                 ...        ...
142424  8658428 2022-09-01 23:00:00 2022-09-01
142425  8658429 2022-09-01 23:00:00 2022-09-01
142426  8658433 2022-09-01 23:00:00 2022-09-01
142427  8658434 2022-09-01 23:00:00 2022-09-01
142428  8658435 2022-09-01 23:00:00 2022-09-01

                                                      url  \
0       https://www.stepstone.de/stellenangebote--Kons...
1       https://www.stepstone.de/stellenangebote--Elek...
2       https://www.stepstone.de/stellenangebote--Team...
3       https://www.stepstone.de/stellenangebote--IT-S...
4       https://www.stepstone.de/stellenangebote--Ener...
...                                                   ...
142424  https://www.stepstone.de/stellenangebote--Dire...
142425  https://www.stepstone.de/stellenangebote--Inte...
142426  https://www.stepstone.de/stellenangebote--Cust...
142427  https://www.stepstone.de/stellenangebote--Fach...
142428  https://www.stepstone.de/stellenangebote--Masc...

                                      job_online_hashdiff day month  year
0       ac98560e6b81abe3be739f3d58d937a2f7b959da868f13...   1     9  2022
1       4b23ca52ba33ecfbbec46c1d28e58bb7405a67752710e0...   1     9  2022
2       0fa7526727d9ff9a401c2c027bb6b331034222b73296fc...   1     9  2022
3       58fb51dda70161e8870828210e34fedc9cdaff58482a89...   1     9  2022
4       27071ac325493f5d185d825b72220bffc9740b2a6b6ab2...   1     9  2022
...                                                   ...  ..   ...   ...
142424  927067625aa64216c93a196d023d6b9587ed7b0cf532d0...   1     9  2022
142425  4640316188261c5bad13d23a5b7b0955e39d36926cc10a...   1     9  2022
142426  d454d2a9a79627a8295654df9c8ba11d0d67f555c96e6a...   1     9  2022
142427  a550766c8cab5da04d70f2b19800961bd854043a2b5c51...   1     9  2022
142428  fa56c61b1af113e94527809069fdc898acf5353f77946a...   1     9  2022

[142429 rows x 8 columns]

In [43]:
start_time = time.time()
df = conn.execute(f'''
SELECT *
FROM src_{entity.name}
WHERE
    year = 2022 AND
    month = 9
;
''').df()
print("--- %s seconds ---" % (time.time() - start_time))
# print(df)

--- 2.15110182762146 seconds ---

In [44]:
conn.close()