In [9]:
import time

import duckdb
import pandas as pd
import plotly.express as px
from plotly_calplot import calplot

from common.env_variables import DUCKDB_DWH_FILE
def display_df(df):
    with pd.option_context('display.max_rows', None, 'display.max_columns', None, "expand_frame_repr", False, "display.float_format", '${:,.2f}'.format):
        display(df.fillna('.'))

conn = duckdb.connect(DUCKDB_DWH_FILE, read_only=True)

In [10]:
df = conn.execute(f'''
SELECT
    company_name,
    COUNT('job_id') as job_count
FROM curated.job
GROUP BY 1
ORDER BY 2 DESC
LIMIT 100
''').df()
display_df(df)

                                         company_name  job_count
0                                    Deutsche Bahn AG      15853
1                                        Bosch Gruppe      10250
2                                        Bertrandt AG       6079
3            HAPEKO Hanseatisches Personalkontor GmbH       6014
4                                               ZEISS       5639
5                                  Mercedes - Benz AG       5251
6                                       meinestadt.de       5063
7                                      StepStone GmbH       5007
8                                        FERCHAU GmbH       4839
9                        IU Internationale Hochschule       3950
10                              Korian Deutschland AG       3794
11                                TÜV Rheinland Group       3295
12                Hays – Recruiting Experts Worldwide       3156
13                         Presented by meinestadt.de       3155
14                                 Amazon Europe Core       3141
15                                             DIS AG       3139
16                                           Deloitte       3132
17                                  Drees & Sommer SE       2964
18                                    Amadeus FiRe AG       2554
19                                           BWI GmbH       2430
20                                      Ed. Züblin AG       2349
21                 ISS Facility Services Holding GmbH       2317
22                                            BAUHAUS       2279
23                                          BMW Group       2193
24                                     Continental AG       2155
25                                          adidas AG       2100
26  Ernst & Young GmbH Wirtschaftsprüfungsgesellsc...       2072
27                                               REWE       2061
28                                                PwC       2017
29                             Lidl Stiftung & Co. KG       1946
30                                         DACHSER SE       1835
31                                   Daimler Truck AG       1826
32                           Schwarz Dienstleistungen       1720
33                       Campusjäger by Workwise GmbH       1708
34                                Hermes Germany GmbH       1642
35                                        Brunel GmbH       1631
36                                              Magna       1627
37                              EDAG Engineering GmbH       1580
38        Randstad Deutschland GmbH & Co. KG - intern       1518
39                                      GOLDBECK GmbH       1502
40                                            TÜV SÜD       1494
41                    Hays – Interne Karriere bei Uns       1450
42                            Korian Deutschland GmbH       1391
43                                      Workwise GmbH       1375
44                                         NEW YORKER       1367
45                               Hilti Deutschland AG       1359
46            KPMG AG Wirtschaftsprüfungsgesellschaft       1348
47                                      Vodafone GmbH       1299
48     Deutsche Apotheker- und Ärztebank eG - apoBank       1287
49                        Kühne + Nagel (AG & Co.) KG       1270
50                Schaeffler Technologies AG & Co. KG       1265
51               Adecco Personaldienstleistungen GmbH       1261
52                                    Miele & Cie. KG       1254
53                      Ströer Media Deutschland GmbH       1221
54                                       Michael Page       1214
55                                                1&1       1192
56                     R+V Allgemeine Versicherung AG       1186
57  toom Baumarkt GmbH (Ein Unternehmen der REWE G...       1135
58                          ALDI Einkauf SE & Co. oHG       1107
59              SPIE Deutschland & Zentraleuropa GmbH       1107
60                            Malteser in Deutschland       1104
61                          Vitesco Technologies GmbH       1103
62                                           HENSOLDT       1086
63                         Computacenter AG & Co. oHG       1080
64                                          ALDI Nord       1067
65                             METRO Deutschland GmbH       1051
66                                 DB Zeitarbeit GmbH       1044
67                          Adolf Würth GmbH & Co. KG       1015
68                                   Deutsche Post AG        998
69                                    Pacura doc GmbH        980
70                                             Uniper        960
71                                    Pacura med GmbH        939
72                                  GVO Personal GmbH        938
73                                  top itservices AG        935
74                                Otto (GmbH & Co KG)        935
75                                         REWE Group        934
76                         Landeshauptstadt Stuttgart        916
77                               Fressnapf Holding SE        906
78                                          Accenture        904
79                                            Vonovia        890
80                                     Ratbacher GmbH        881
81                                         STRABAG AG        880
82                                       Dataport AöR        869
83                                      Bosch Rexroth        850
84                              MAN Truck & Bus Group        848
85                                            CHECK24        839
86                                 Tesla Germany GmbH        828
87                                          europa.eu        826
88                  Lidl Dienstleistung GmbH & Co. KG        826
89                            MAN Energy Solutions SE        825
90                                          TARGOBANK        824
91                              ARRK Engineering GmbH        821
92                              PlanetHome Group GmbH        816
93                                       Takeaway.com        808
94                           Drägerwerk AG & Co. KGaA        806
95                                    TQ-Systems GmbH        806
96          STRABAG PROPERTY & FACILITY SERVICES GMBH        794
97                            Schneider Electric GmbH        794
98                                         Vattenfall        793
99                DEKRA Arbeit GmbH Personalabteilung        793

In [11]:
start = time.time()
df = conn.execute(f'''
SELECT
    online_at,
    COUNT('a.job_id') as job_count
FROM curated.job a
INNER JOIN curated.online_job b ON (a.job_id = b.job_id)
WHERE
    a.company_name = 'Bosch Gruppe'
GROUP BY 1
ORDER BY 1 DESC
LIMIT 5
''').df()
print(time.time() - start)
display_df(df)

0.8561420440673828

   online_at  job_count
0 2022-09-27       2219
1 2022-09-26       2198
2 2022-09-25       2221
3 2022-09-24       2259
4 2022-09-23       2268

In [12]:
start = time.time()
df = conn.execute(f'''
WITH bosch_jobs AS (
    SELECT
        job_id
    FROM curated.job a
    WHERE
        a.company_name = 'Bosch Gruppe'
)
SELECT
     online_at
    ,COUNT('job_id') AS job_count
FROM curated.online_job
WHERE job_id in (
    SELECT job_id
    FROM bosch_jobs
)
GROUP BY 1
ORDER BY 1 DESC
''').df()
print(time.time() - start)
display_df(df)

0.7945160865783691

     online_at  job_count
0   2022-09-27       1908
1   2022-09-26       1886
2   2022-09-25       1907
3   2022-09-24       1943
4   2022-09-23       1954
5   2022-09-22       1951
6   2022-09-21       1929
7   2022-09-20       1943
8   2022-09-19       1921
9   2022-09-18       1944
10  2022-09-17       1996
11  2022-09-16       1999
12  2022-09-15       1968
13  2022-09-14       1975
14  2022-09-13       1989
15  2022-09-12       2002
16  2022-09-11       2004
17  2022-09-10       2055
18  2022-09-09       2015
19  2022-09-08       1985
20  2022-09-07       1985
21  2022-09-06       1998
22  2022-09-05       1973
23  2022-09-04       1967
24  2022-09-03       2013
25  2022-09-02       2015
26  2022-09-01       1978
27  2022-08-31       1984
28  2022-08-30       1973
29  2022-08-29       1967
30  2022-08-28       1969
31  2022-08-27       1984
32  2022-08-26       2030
33  2022-08-25       1986
34  2022-08-24       2030
35  2022-08-23       2065
36  2022-08-22       2063
37  2022-08-21       2067
38  2022-08-20       2120
39  2022-08-19       2137
40  2022-08-18       2122
41  2022-08-17       2091
42  2022-08-16       2095
43  2022-08-15       2074
44  2022-08-14       2085
45  2022-08-13       2129
46  2022-08-12       2142
47  2022-08-11       2133
48  2022-08-10       2161
49  2022-08-09       2189
50  2022-08-08       2182
51  2022-08-07       2174
52  2022-08-06       2202
53  2022-08-05       2210
54  2022-08-04       2192
55  2022-08-03       2180
56  2022-08-02       2184
57  2022-08-01       2119
58  2022-07-31       2110
59  2022-07-30       2217
60  2022-07-29       2224
61  2022-07-28       2194
62  2022-07-27       2192
63  2022-07-26       2125
64  2022-07-25       2113
65  2022-07-24       2116
66  2022-07-23       2174
67  2022-07-22       2193
68  2022-07-21       2185
69  2022-07-20       2185
70  2022-07-19       2168
71  2022-07-18       2148
72  2022-07-17       2147
73  2022-07-16       2198
74  2022-07-15       2217
75  2022-07-14       2186
76  2022-07-13       2190
77  2022-07-12       2154
78  2022-07-11       2144
79  2022-07-10       2109
80  2022-07-09       2140
81  2022-07-08       2207
82  2022-07-07       2172
83  2022-07-06       2158
84  2022-07-05       2151
85  2022-07-04       2111
86  2022-07-03       2107
87  2022-07-02       2150
88  2022-07-01       2160
89  2022-06-30       2161
90  2022-06-29       2166
91  2022-06-28       2183
92  2022-06-27       2169
93  2022-06-26       2157
94  2022-06-25       2211
95  2022-06-24       2229
96  2022-06-23       2213
97  2022-06-22       2171
98  2022-06-21       2209
99  2022-06-20       2164
100 2022-06-19       2127
101 2022-06-18       2133
102 2022-06-17       2139
103 2022-06-16       2148
104 2022-06-15       2148
105 2022-06-14       2158
106 2022-06-13       2117
107 2022-06-12       2119
108 2022-06-11       2165
109 2022-06-10       2186
110 2022-06-09       2167
111 2022-06-08       2181
112 2022-06-07       2156
113 2022-06-06       2162
114 2022-06-05       2188
115 2022-06-04       2229
116 2022-06-03       2229
117 2022-06-02       2158
118 2022-06-01       2094
119 2022-05-31       2126
120 2022-05-30       2022
121 2022-05-29       2021
122 2022-05-28       2057
123 2022-05-27       2056
124 2022-05-26       2062
125 2022-05-25       2074
126 2022-05-24       2089
127 2022-05-23       2059
128 2022-05-22       2037
129 2022-05-21       2101
130 2022-05-20       2118
131 2022-05-19       2097
132 2022-05-18       2107
133 2022-05-17       2096
134 2022-05-16       2057
135 2022-05-15       2067
136 2022-05-14       2110
137 2022-05-13       2129
138 2022-05-12       2092
139 2022-05-11       2100
140 2022-05-10       2190
141 2022-05-09       2119
142 2022-05-08       2067
143 2022-05-07       2083
144 2022-05-06       2100
145 2022-05-05       2109
146 2022-05-04       2104
147 2022-05-03       2104
148 2022-05-02       2079
149 2022-05-01       2061
150 2022-04-30       2102
151 2022-04-29       2041
152 2022-04-28       2016
153 2022-04-27       2020
154 2022-04-26       2023
155 2022-04-25       1991
156 2022-04-24       1945
157 2022-04-23       1975
158 2022-04-22       2022
159 2022-04-21       1974
160 2022-04-20       2024
161 2022-04-19       2025
162 2022-04-18       1979
163 2022-04-17       2055
164 2022-04-16       2055
165 2022-04-15       2098
166 2022-04-14       2124
167 2022-04-13       2110
168 2022-04-12       2126
169 2022-04-11       2107
170 2022-04-10       2050
171 2022-04-09       2117
172 2022-04-08       2123
173 2022-04-07       2103
174 2022-04-06       2103
175 2022-04-05       2109
176 2022-04-04       2087
177 2022-04-03       2085
178 2022-04-02       2082
179 2022-04-01       2148
180 2022-03-31       2029
181 2022-03-30       2752
182 2022-03-29       2507
183 2022-03-28       1769
184 2022-03-27       1769
185 2022-03-26       1769
186 2022-03-25       1769
187 2022-03-24       1768
188 2022-03-23       1768
189 2022-03-22       1768
190 2022-03-21       1768
191 2022-03-20       1768
192 2022-03-19       1768
193 2022-03-18       1768
194 2022-03-17       1768
195 2022-03-16       1768
196 2022-03-15       1768
197 2022-03-14       1768
198 2022-03-13       1769
199 2022-03-12       1769
200 2022-03-11       1769
201 2022-03-10       1769
202 2022-03-09       1769
203 2022-03-08       1770
204 2022-03-07       1770
205 2022-03-06       1770
206 2022-03-05       1770
207 2022-03-04       1784
208 2022-03-03       1760
209 2022-03-02       1760
210 2022-03-01       1787
211 2022-02-28       1783
212 2022-02-27       1775
213 2022-02-26       1774
214 2022-02-25       1782
215 2022-02-24       1737
216 2022-02-23       1716
217 2022-02-22       1698
218 2022-02-21       1671
219 2022-02-20       1680
220 2022-02-19       1693
221 2022-02-18       1733
222 2022-02-17       1701
223 2022-02-16       1669
224 2022-02-15       1685
225 2022-02-14       1657
226 2022-02-13       1670
227 2022-02-12       1698
228 2022-02-11       1735
229 2022-02-10       1694
230 2022-02-09       1691
231 2022-02-08       1634
232 2022-02-07       1628
233 2022-02-06       1592
234 2022-02-05       1615
235 2022-02-04       1622
236 2022-02-03       1594
237 2022-02-02       1561
238 2022-02-01       1602
239 2022-01-31       1557
240 2022-01-30       1538
241 2022-01-29       1547
242 2022-01-28       1597
243 2022-01-27       1567
244 2022-01-26       1546
245 2022-01-25       1521
246 2022-01-24       1446
247 2022-01-23       1413
248 2022-01-22       1427
249 2022-01-21       1447
250 2022-01-20       1391
251 2022-01-19       1372
252 2022-01-18       1294
253 2022-01-17       1321
254 2022-01-16       1290
255 2022-01-15       1316
256 2022-01-14       1346
257 2022-01-13       1309
258 2022-01-12       1290
259 2022-01-11       1290
260 2022-01-10       1304
261 2022-01-09       1301
262 2022-01-08       1319
263 2022-01-07       1327
264 2022-01-06       1327
265 2022-01-05       1344
266 2022-01-04       1333
267 2022-01-03       1360
268 2022-01-02       1368
269 2022-01-01       1385
270 2021-12-31       1389
271 2021-12-30       1492
272 2021-12-29       1475
273 2021-12-28       1475
274 2021-12-27       1475
275 2021-12-26       1476
276 2021-12-25       1476
277 2021-12-24       1476
278 2021-12-23       1477
279 2021-12-22       1464
280 2021-12-21       1452
281 2021-12-20       1447
282 2021-12-19       1427
283 2021-12-18       1450
284 2021-12-17       1454
285 2021-12-16       1408
286 2021-12-15       1382
287 2021-12-14       1364
288 2021-12-13       1340
289 2021-12-12       1323
290 2021-12-11       1338
291 2021-12-10       1369
292 2021-12-09       1355
293 2021-12-08       1313
294 2021-12-07       1307
295 2021-12-06       1292
296 2021-12-05       1257
297 2021-12-04       1267
298 2021-12-03       1285
299 2021-12-02       1269
300 2021-12-01       1242
301 2021-11-30       1242
302 2021-11-29       1227
303 2021-11-28       1222
304 2021-11-27       1223
305 2021-11-26       1254
306 2021-11-25       1236
307 2021-11-24       1241
308 2021-11-23       1233
309 2021-11-22       1226
310 2021-11-21       1218
311 2021-11-20       1231
312 2021-11-19       1253
313 2021-11-18       1237
314 2021-11-17       1218
315 2021-11-16       1173
316 2021-11-15       1165
317 2021-11-14       1152
318 2021-11-13       1156
319 2021-11-12       1157
320 2021-11-11       1161
321 2021-11-10       1150
322 2021-11-09       1139
323 2021-11-08       1129
324 2021-11-07       1123
325 2021-11-06       1129
326 2021-11-05       1142
327 2021-11-04       1137
328 2021-11-03       1102
329 2021-11-02       1113
330 2021-11-01       1097
331 2021-10-31       1101
332 2021-10-30       1109
333 2021-10-29       1124
334 2021-10-28       1105
335 2021-10-27       1065
336 2021-10-26       1050
337 2021-10-25       1045
338 2021-10-24       1032
339 2021-10-23       1040
340 2021-10-22       1053
341 2021-10-21       1036
342 2021-10-20       1022
343 2021-10-19       1008
344 2021-10-18       1002
345 2021-10-17       1003
346 2021-10-16       1014
347 2021-10-15       1026
348 2021-10-14       1016
349 2021-10-13        985
350 2021-10-12        967
351 2021-10-11        959
352 2021-10-10        934
353 2021-10-09        942

In [ ]:
start = time.time()
df = conn.execute(f'''
  WITH all_company AS (
SELECT DISTINCT company_name
  FROM curated.job
),
       car_company AS (
SELECT company_name
  FROM all_company
 WHERE company_name ilike 'BMW%' OR
       company_name ilike 'Audi%' OR
       company_name ilike 'Volkswagen%' OR
       company_name ilike 'Mercedes%'
),
       car_job AS (
SELECT a.company_name,
       a.job_id
  FROM curated.job a
  JOIN car_company b
    ON (a.company_name = b.company_name)
)
SELECT company_name,
       COUNT('job_id') AS job_count
  FROM car_job
 GROUP BY 1
 ORDER BY 2 DESC
LIMIT 100
''').df()
print(time.time() - start)
display_df(df)

In [ ]:
conn.close()