In [1]:
import time

import duckdb
import pandas as pd
import plotly.express as px
from plotly_calplot import calplot

from common.env_variables import DUCKDB_DWH_FILE
def display_df(df):
    with pd.option_context('display.max_rows', None, 'display.max_columns', None, "expand_frame_repr", False, "display.float_format", '${:,.2f}'.format):
        display(df.fillna('.'))

conn = duckdb.connect(DUCKDB_DWH_FILE, read_only=True)

In [2]:
df = conn.execute(f'''
SELECT
    company_name,
    COUNT('job_id') as job_count
FROM curated.job_description
GROUP BY 1
ORDER BY 2 DESC
LIMIT 100
''').df()
display_df(df)

                                         company_name  job_count
0                                    Deutsche Bahn AG      15727
1                                        Bosch Gruppe      10189
2                                        Bertrandt AG       6039
3            HAPEKO Hanseatisches Personalkontor GmbH       5989
4                                               ZEISS       5638
5                                  Mercedes - Benz AG       5214
6                                       meinestadt.de       5063
7                                      StepStone GmbH       4982
8                                        FERCHAU GmbH       4826
9                        IU Internationale Hochschule       3909
10                              Korian Deutschland AG       3794
11                                TÜV Rheinland Group       3236
12                Hays – Recruiting Experts Worldwide       3156
13                         Presented by meinestadt.de       3155
14                                           Deloitte       3128
15                                             DIS AG       3124
16                                 Amazon Europe Core       3110
17                                  Drees & Sommer SE       2937
18                                    Amadeus FiRe AG       2554
19                                           BWI GmbH       2418
20                                      Ed. Züblin AG       2335
21                 ISS Facility Services Holding GmbH       2308
22                                            BAUHAUS       2274
23                                          BMW Group       2186
24                                     Continental AG       2154
25                                          adidas AG       2100
26  Ernst & Young GmbH Wirtschaftsprüfungsgesellsc...       2069
27                                               REWE       2051
28                                                PwC       2009
29                             Lidl Stiftung & Co. KG       1943
30                                         DACHSER SE       1823
31                                   Daimler Truck AG       1820
32                           Schwarz Dienstleistungen       1710
33                       Campusjäger by Workwise GmbH       1708
34                                Hermes Germany GmbH       1627
35                                        Brunel GmbH       1620
36                                              Magna       1608
37                              EDAG Engineering GmbH       1571
38        Randstad Deutschland GmbH & Co. KG - intern       1512
39                                      GOLDBECK GmbH       1498
40                                            TÜV SÜD       1491
41                    Hays – Interne Karriere bei Uns       1444
42                            Korian Deutschland GmbH       1378
43                                      Workwise GmbH       1375
44                                         NEW YORKER       1362
45                               Hilti Deutschland AG       1351
46            KPMG AG Wirtschaftsprüfungsgesellschaft       1348
47                                      Vodafone GmbH       1285
48     Deutsche Apotheker- und Ärztebank eG - apoBank       1279
49                        Kühne + Nagel (AG & Co.) KG       1268
50               Adecco Personaldienstleistungen GmbH       1261
51                                    Miele & Cie. KG       1249
52                Schaeffler Technologies AG & Co. KG       1248
53                                       Michael Page       1206
54                                                1&1       1189
55                     R+V Allgemeine Versicherung AG       1170
56  toom Baumarkt GmbH (Ein Unternehmen der REWE G...       1131
57                      Ströer Media Deutschland GmbH       1123
58              SPIE Deutschland & Zentraleuropa GmbH       1107
59                          ALDI Einkauf SE & Co. oHG       1101
60                          Vitesco Technologies GmbH       1097
61                            Malteser in Deutschland       1095
62                                           HENSOLDT       1078
63                         Computacenter AG & Co. oHG       1071
64                                          ALDI Nord       1056
65                                 DB Zeitarbeit GmbH       1044
66                             METRO Deutschland GmbH       1039
67                          Adolf Würth GmbH & Co. KG       1010
68                                   Deutsche Post AG        992
69                                    Pacura doc GmbH        980
70                                             Uniper        957
71                                  top itservices AG        932
72                                  GVO Personal GmbH        932
73                                Otto (GmbH & Co KG)        932
74                                         REWE Group        925
75                         Landeshauptstadt Stuttgart        905
76                                          Accenture        904
77                               Fressnapf Holding SE        900
78                                            Vonovia        889
79                                     Ratbacher GmbH        881
80                                    Pacura med GmbH        874
81                                         STRABAG AG        869
82                                       Dataport AöR        866
83                              MAN Truck & Bus Group        848
84                                      Bosch Rexroth        846
85                                            CHECK24        836
86                                 Tesla Germany GmbH        828
87                                          europa.eu        826
88                                          TARGOBANK        820
89                            MAN Energy Solutions SE        818
90                              PlanetHome Group GmbH        816
91                  Lidl Dienstleistung GmbH & Co. KG        816
92                              ARRK Engineering GmbH        813
93                                       Takeaway.com        808
94                                    TQ-Systems GmbH        806
95                           Drägerwerk AG & Co. KGaA        800
96                                         Vattenfall        793
97                DEKRA Arbeit GmbH Personalabteilung        793
98          STRABAG PROPERTY & FACILITY SERVICES GMBH        792
99                            Schneider Electric GmbH        790

In [3]:
start = time.time()
df = conn.execute(f'''
SELECT
    online_at,
    COUNT('a.job_id') as job_count
FROM curated.job_description a
INNER JOIN curated.job_online b ON (a.job_id = b.job_id)
WHERE
    a.company_name = 'Bosch Gruppe'
GROUP BY 1
ORDER BY 1 DESC
LIMIT 5
''').df()
print(time.time() - start)
display_df(df)

0.8286669254302979

   online_at  job_count
0 2022-09-24       2247
1 2022-09-23       2256
2 2022-09-22       2254
3 2022-09-21       2229
4 2022-09-20       2252

In [4]:
start = time.time()
df = conn.execute(f'''
WITH bosch_jobs AS (
    SELECT
        job_id
    FROM curated.job_description a
    WHERE
        a.company_name = 'Bosch Gruppe'
)
SELECT
     online_at
    ,COUNT('job_id') AS job_count
FROM curated.job_online
WHERE job_id in (
    SELECT job_id
    FROM bosch_jobs
)
GROUP BY 1
ORDER BY 1 DESC
''').df()
print(time.time() - start)
display_df(df)

0.6998307704925537

     online_at  job_count
0   2022-09-24       1943
1   2022-09-23       1954
2   2022-09-22       1951
3   2022-09-21       1929
4   2022-09-20       1943
5   2022-09-19       1921
6   2022-09-18       1944
7   2022-09-17       1996
8   2022-09-16       1999
9   2022-09-15       1968
10  2022-09-14       1975
11  2022-09-13       1989
12  2022-09-12       2002
13  2022-09-11       2004
14  2022-09-10       2055
15  2022-09-09       2015
16  2022-09-08       1985
17  2022-09-07       1985
18  2022-09-06       1998
19  2022-09-05       1973
20  2022-09-04       1967
21  2022-09-03       2013
22  2022-09-02       2015
23  2022-09-01       1978
24  2022-08-31       1984
25  2022-08-30       1973
26  2022-08-29       1967
27  2022-08-28       1969
28  2022-08-27       1984
29  2022-08-26       2030
30  2022-08-25       1986
31  2022-08-24       2030
32  2022-08-23       2065
33  2022-08-22       2063
34  2022-08-21       2067
35  2022-08-20       2120
36  2022-08-19       2137
37  2022-08-18       2122
38  2022-08-17       2091
39  2022-08-16       2095
40  2022-08-15       2074
41  2022-08-14       2085
42  2022-08-13       2129
43  2022-08-12       2142
44  2022-08-11       2133
45  2022-08-10       2161
46  2022-08-09       2189
47  2022-08-08       2182
48  2022-08-07       2174
49  2022-08-06       2202
50  2022-08-05       2210
51  2022-08-04       2192
52  2022-08-03       2180
53  2022-08-02       2184
54  2022-08-01       2119
55  2022-07-31       2110
56  2022-07-30       2217
57  2022-07-29       2224
58  2022-07-28       2194
59  2022-07-27       2192
60  2022-07-26       2125
61  2022-07-25       2113
62  2022-07-24       2116
63  2022-07-23       2174
64  2022-07-22       2193
65  2022-07-21       2185
66  2022-07-20       2185
67  2022-07-19       2168
68  2022-07-18       2148
69  2022-07-17       2147
70  2022-07-16       2198
71  2022-07-15       2217
72  2022-07-14       2186
73  2022-07-13       2190
74  2022-07-12       2154
75  2022-07-11       2144
76  2022-07-10       2109
77  2022-07-09       2140
78  2022-07-08       2207
79  2022-07-07       2172
80  2022-07-06       2158
81  2022-07-05       2151
82  2022-07-04       2111
83  2022-07-03       2107
84  2022-07-02       2150
85  2022-07-01       2160
86  2022-06-30       2161
87  2022-06-29       2166
88  2022-06-28       2183
89  2022-06-27       2169
90  2022-06-26       2157
91  2022-06-25       2211
92  2022-06-24       2229
93  2022-06-23       2213
94  2022-06-22       2171
95  2022-06-21       2209
96  2022-06-20       2164
97  2022-06-19       2127
98  2022-06-18       2133
99  2022-06-17       2139
100 2022-06-16       2148
101 2022-06-15       2148
102 2022-06-14       2158
103 2022-06-13       2117
104 2022-06-12       2119
105 2022-06-11       2165
106 2022-06-10       2186
107 2022-06-09       2167
108 2022-06-08       2181
109 2022-06-07       2156
110 2022-06-06       2162
111 2022-06-05       2188
112 2022-06-04       2229
113 2022-06-03       2229
114 2022-06-02       2158
115 2022-06-01       2094
116 2022-05-31       2126
117 2022-05-30       2022
118 2022-05-29       2021
119 2022-05-28       2057
120 2022-05-27       2056
121 2022-05-26       2062
122 2022-05-25       2074
123 2022-05-24       2089
124 2022-05-23       2059
125 2022-05-22       2037
126 2022-05-21       2101
127 2022-05-20       2118
128 2022-05-19       2097
129 2022-05-18       2107
130 2022-05-17       2096
131 2022-05-16       2057
132 2022-05-15       2067
133 2022-05-14       2110
134 2022-05-13       2129
135 2022-05-12       2092
136 2022-05-11       2100
137 2022-05-10       2190
138 2022-05-09       2119
139 2022-05-08       2067
140 2022-05-07       2083
141 2022-05-06       2100
142 2022-05-05       2109
143 2022-05-04       2104
144 2022-05-03       2104
145 2022-05-02       2079
146 2022-05-01       2061
147 2022-04-30       2102
148 2022-04-29       2041
149 2022-04-28       2016
150 2022-04-27       2020
151 2022-04-26       2023
152 2022-04-25       1991
153 2022-04-24       1945
154 2022-04-23       1975
155 2022-04-22       2022
156 2022-04-21       1974
157 2022-04-20       2024
158 2022-04-19       2025
159 2022-04-18       1979
160 2022-04-17       2055
161 2022-04-16       2055
162 2022-04-15       2098
163 2022-04-14       2124
164 2022-04-13       2110
165 2022-04-12       2126
166 2022-04-11       2107
167 2022-04-10       2050
168 2022-04-09       2117
169 2022-04-08       2123
170 2022-04-07       2103
171 2022-04-06       2103
172 2022-04-05       2109
173 2022-04-04       2087
174 2022-04-03       2085
175 2022-04-02       2082
176 2022-04-01       2148
177 2022-03-31       2029
178 2022-03-30       2752
179 2022-03-29       2507
180 2022-03-28       1769
181 2022-03-27       1769
182 2022-03-26       1769
183 2022-03-25       1769
184 2022-03-24       1768
185 2022-03-23       1768
186 2022-03-22       1768
187 2022-03-21       1768
188 2022-03-20       1768
189 2022-03-19       1768
190 2022-03-18       1768
191 2022-03-17       1768
192 2022-03-16       1768
193 2022-03-15       1768
194 2022-03-14       1768
195 2022-03-13       1769
196 2022-03-12       1769
197 2022-03-11       1769
198 2022-03-10       1769
199 2022-03-09       1769
200 2022-03-08       1770
201 2022-03-07       1770
202 2022-03-06       1770
203 2022-03-05       1770
204 2022-03-04       1784
205 2022-03-03       1760
206 2022-03-02       1760
207 2022-03-01       1787
208 2022-02-28       1783
209 2022-02-27       1775
210 2022-02-26       1774
211 2022-02-25       1782
212 2022-02-24       1737
213 2022-02-23       1716
214 2022-02-22       1698
215 2022-02-21       1671
216 2022-02-20       1680
217 2022-02-19       1693
218 2022-02-18       1733
219 2022-02-17       1701
220 2022-02-16       1669
221 2022-02-15       1685
222 2022-02-14       1657
223 2022-02-13       1670
224 2022-02-12       1698
225 2022-02-11       1735
226 2022-02-10       1694
227 2022-02-09       1691
228 2022-02-08       1634
229 2022-02-07       1628
230 2022-02-06       1592
231 2022-02-05       1615
232 2022-02-04       1622
233 2022-02-03       1594
234 2022-02-02       1561
235 2022-02-01       1602
236 2022-01-31       1557
237 2022-01-30       1538
238 2022-01-29       1547
239 2022-01-28       1597
240 2022-01-27       1567
241 2022-01-26       1546
242 2022-01-25       1521
243 2022-01-24       1446
244 2022-01-23       1413
245 2022-01-22       1427
246 2022-01-21       1447
247 2022-01-20       1391
248 2022-01-19       1372
249 2022-01-18       1294
250 2022-01-17       1321
251 2022-01-16       1290
252 2022-01-15       1316
253 2022-01-14       1346
254 2022-01-13       1309
255 2022-01-12       1290
256 2022-01-11       1290
257 2022-01-10       1304
258 2022-01-09       1301
259 2022-01-08       1319
260 2022-01-07       1327
261 2022-01-06       1327
262 2022-01-05       1344
263 2022-01-04       1333
264 2022-01-03       1360
265 2022-01-02       1368
266 2022-01-01       1385
267 2021-12-31       1389
268 2021-12-30       1492
269 2021-12-29       1475
270 2021-12-28       1475
271 2021-12-27       1475
272 2021-12-26       1476
273 2021-12-25       1476
274 2021-12-24       1476
275 2021-12-23       1477
276 2021-12-22       1464
277 2021-12-21       1452
278 2021-12-20       1447
279 2021-12-19       1427
280 2021-12-18       1450
281 2021-12-17       1454
282 2021-12-16       1408
283 2021-12-15       1382
284 2021-12-14       1364
285 2021-12-13       1340
286 2021-12-12       1323
287 2021-12-11       1338
288 2021-12-10       1369
289 2021-12-09       1355
290 2021-12-08       1313
291 2021-12-07       1307
292 2021-12-06       1292
293 2021-12-05       1257
294 2021-12-04       1267
295 2021-12-03       1285
296 2021-12-02       1269
297 2021-12-01       1242
298 2021-11-30       1242
299 2021-11-29       1227
300 2021-11-28       1222
301 2021-11-27       1223
302 2021-11-26       1254
303 2021-11-25       1236
304 2021-11-24       1241
305 2021-11-23       1233
306 2021-11-22       1226
307 2021-11-21       1218
308 2021-11-20       1231
309 2021-11-19       1253
310 2021-11-18       1237
311 2021-11-17       1218
312 2021-11-16       1173
313 2021-11-15       1165
314 2021-11-14       1152
315 2021-11-13       1156
316 2021-11-12       1157
317 2021-11-11       1161
318 2021-11-10       1150
319 2021-11-09       1139
320 2021-11-08       1129
321 2021-11-07       1123
322 2021-11-06       1129
323 2021-11-05       1142
324 2021-11-04       1137
325 2021-11-03       1102
326 2021-11-02       1113
327 2021-11-01       1097
328 2021-10-31       1101
329 2021-10-30       1109
330 2021-10-29       1124
331 2021-10-28       1105
332 2021-10-27       1065
333 2021-10-26       1050
334 2021-10-25       1045
335 2021-10-24       1032
336 2021-10-23       1040
337 2021-10-22       1053
338 2021-10-21       1036
339 2021-10-20       1022
340 2021-10-19       1008
341 2021-10-18       1002
342 2021-10-17       1003
343 2021-10-16       1014
344 2021-10-15       1026
345 2021-10-14       1016
346 2021-10-13        985
347 2021-10-12        967
348 2021-10-11        959
349 2021-10-10        934
350 2021-10-09        942

In [5]:
start = time.time()
df = conn.execute(f'''
  WITH all_company AS (
SELECT DISTINCT company_name
  FROM curated.job_description
),
       car_company AS (
SELECT company_name
  FROM all_company
 WHERE company_name ilike 'BMW%' OR
       company_name ilike 'Audi%' OR
       company_name ilike 'Volkswagen%' OR
       company_name ilike 'Mercedes%'
),
       car_job_description AS (
SELECT a.company_name,
       a.job_id
  FROM curated.job_description a
  JOIN car_company b
    ON (a.company_name = b.company_name)
)
SELECT company_name,
       COUNT('job_id') AS job_count
  FROM car_job_description
 GROUP BY 1
 ORDER BY 2 DESC
LIMIT 100
''').df()
print(time.time() - start)
display_df(df)

1100.8648447990417

                                         company_name  job_count
0                                  Mercedes - Benz AG       5214
1                                           BMW Group       2186
2                    Volkswagen Financial Services AG        663
3                                   Mercedes-AMG GmbH        508
4                       Mercedes-Benz Tech Innovation        500
5                           Mercedes-Benz Mobility AG        368
6                              Mercedes-Benz Group AG        347
7                       Mercedes-Benz Consulting GmbH        254
8                               Mercedes-Benz Bank AG        227
9                        Volkswagen Infotainment GmbH        211
10                 Volkswagen Group IT Solutions GmbH        149
11             Mercedes-Benz Bank Service Center GmbH        137
12  Volkswagen Retail Dienstleistungsgesellschaft mbH        129
13                     Volkswagen Group Services GmbH        123
14             Mercedes-Benz Leasing Deutschland GmbH        123
15                  Volkswagen Automobile Berlin GmbH        111
16                      Audi Business Innovation GmbH        102
17                                      Volkswagen AG         99
18                                   Audi Berlin GmbH         82
19              Mercedes-Benz Customer Solutions GmbH         78
20                  Volkswagen Group IT Services GmbH         71
21                   Mercedes-Benz Vans Mobility GmbH         47
22           Mercedes-Benz Connectivity Services GmbH         42
23   Volkswagen Original Teile Logistik GmbH & Co. KG         39
24                 Volkswagen Automobile Hamburg GmbH         32
25                                       Audicon GmbH         29
26                    Mercedes-Benz Ludwigsfelde GmbH         26
27                          Mercedes-Benz Energy GmbH         25
28                            Volkswagen Zubehör GmbH         25
29                         Volkswagen Immobilien GmbH         25
30                      Audi Events und Services GmbH         24
31               Audit Tax & Consulting Services GmbH         23
32               Volkswagen Automobile Frankfurt GmbH         23
33           Mercedes-Benz Customer Assistance Center         18
34                                  Audi Hamburg GmbH         18
35                 Mercedes-Benz Banking Service GmbH         18
36                                  Audi München GmbH         16
37                             Audi Zentrum Stuttgart         15
38                          Mercedes-Benz Museum GmbH         15
39                              audifon GmbH & Co. KG         12
40  Mercedes-Benz Intellectual Property GmbH & CO. KG         12
41                                       AUDICON GmbH         12
42                              Audi Interaction GmbH         10
43                 Volkswagen Automobile Potsdam GmbH         10
44                                     Audimedes GmbH          9
45                Volkswagen Automobile Hannover GmbH          9
46                                Audi Frankfurt GmbH          9
47  Volkswagen Gebrauchtfahrzeughandels und Servic...          8
48                                 Audi Hannover GmbH          8
49       AUDITAS GmbH Wirtschaftsprüfungsgesellschaft          7
50  Audi Zentrum Berlin-Spandau GmbH - Autohaus Be...          7
51              Mercedes-Benz Insurance Services GmbH          6
52                                      audibene GmbH          6
53               Volkswagen Automobile Stuttgart GmbH          6
54                      Mercedes-Benz Versicherung AG          4
55                                 VolkswagenStiftung          4
56                       BMW Autohaus J. B. LELL e.K.          4
57          Volkswagen Retail Dienstleistungsges. mbH          4
58  Mercedes-Benz Autohaus & Camper-NRW Reisemobil...          3
59                   Audi Zentrum Berlin-Spandau GmbH          3
60                      BMW Foundation Herbert Quandt          3
61                                         audimex ag          3
62                                   Audioversum GmbH          3
63                           Volkswagen Zentrum Mainz          3
64                              Mercedes-Benz.io GmbH          2
65                                     Audioline GmbH          2
66                   Audi Zentrum Nürnberg Marienberg          2
67                                audimax MEDIEN GmbH          2
68                                     AUDILOGIK GmbH          2
69                                Audita Consult GmbH          2
70                                 AudioRent Clair AG          2
71                    Mercedes-Benz Trucks Schweiz AG          2
72                                        auditi GmbH          2
73                           Audi Zentrum Saarbrücken          2
74                 MercedesService Card GmbH & Co. KG          1
75                                  Audi Planung GmbH          1
76                                    Auditorium GmbH          1
77        AuditJurTax Steuerberatungsgesellschaft mbH          1
78                           Audio Factory Media GmbH          1
79               Audi Zentrum Oldenburg GmbH & Co. KG          1
80                     Mercedes-Benz Real Estate GmbH          1
81            Volkswagen Automobile Rhein-Neckar GmbH          1
82                                  Audio Direkt GmbH          1
83         Volkswagen Automobile Region Hannover GmbH          1
84                                         Auditum AG          1
85                  Audio Video Network Solution GmbH          1
86                      Audita Treuhand GmbH & Co. KG          1
87                    Audio-Technica Deutschland GmbH          1
88                      AUDIO-FORUM Hifi-Studios GmbH          1
89            Audio Pro Heilbronn Elektroakustik GmbH          1
90                                     audiowest GmbH          1

In [6]:
conn.close()