In [33]:
import time

import duckdb
import pandas as pd
import plotly.express as px
from plotly_calplot import calplot

from common.env_variables import DUCKDB_DWH_FILE
def display_df(df):
    with pd.option_context('display.max_rows', None, 'display.max_columns', None, "expand_frame_repr", False, "display.float_format", '${:,.2f}'.format):
        display(df.fillna('.'))

conn = duckdb.connect(DUCKDB_DWH_FILE, read_only=True)

In [34]:
df = conn.execute(f'''
SELECT
    company_name,
    COUNT('job_id') as job_count
FROM curated.job_description
GROUP BY 1
ORDER BY 2 DESC
LIMIT 100
''').df()
display_df(df)

                                         company_name  job_count
0                                    Deutsche Bahn AG      15603
1                                        Bosch Gruppe      10165
2                                        Bertrandt AG       6018
3            HAPEKO Hanseatisches Personalkontor GmbH       5954
4                                               ZEISS       5634
5                                  Mercedes - Benz AG       5194
6                                       meinestadt.de       5063
7                                      StepStone GmbH       4973
8                                        FERCHAU GmbH       4815
9                        IU Internationale Hochschule       3855
10                              Korian Deutschland AG       3794
11                                TÜV Rheinland Group       3192
12                Hays – Recruiting Experts Worldwide       3156
13                         Presented by meinestadt.de       3155
14                                           Deloitte       3120
15                                 Amazon Europe Core       3110
16                                             DIS AG       3103
17                                  Drees & Sommer SE       2919
18                                    Amadeus FiRe AG       2554
19                                           BWI GmbH       2413
20                                      Ed. Züblin AG       2333
21                 ISS Facility Services Holding GmbH       2305
22                                            BAUHAUS       2269
23                                          BMW Group       2180
24                                     Continental AG       2154
25                                          adidas AG       2100
26  Ernst & Young GmbH Wirtschaftsprüfungsgesellsc...       2067
27                                               REWE       2046
28                                                PwC       2000
29                             Lidl Stiftung & Co. KG       1939
30                                         DACHSER SE       1815
31                                   Daimler Truck AG       1815
32                           Schwarz Dienstleistungen       1708
33                       Campusjäger by Workwise GmbH       1708
34                                Hermes Germany GmbH       1624
35                                        Brunel GmbH       1615
36                                              Magna       1591
37                              EDAG Engineering GmbH       1571
38        Randstad Deutschland GmbH & Co. KG - intern       1509
39                                      GOLDBECK GmbH       1497
40                                            TÜV SÜD       1483
41                    Hays – Interne Karriere bei Uns       1438
42                                      Workwise GmbH       1375
43                            Korian Deutschland GmbH       1373
44                                         NEW YORKER       1359
45                               Hilti Deutschland AG       1351
46            KPMG AG Wirtschaftsprüfungsgesellschaft       1348
47                                      Vodafone GmbH       1280
48     Deutsche Apotheker- und Ärztebank eG - apoBank       1273
49                        Kühne + Nagel (AG & Co.) KG       1262
50               Adecco Personaldienstleistungen GmbH       1261
51                                    Miele & Cie. KG       1239
52                Schaeffler Technologies AG & Co. KG       1236
53                                       Michael Page       1191
54                                                1&1       1184
55                     R+V Allgemeine Versicherung AG       1161
56  toom Baumarkt GmbH (Ein Unternehmen der REWE G...       1130
57                      Ströer Media Deutschland GmbH       1123
58              SPIE Deutschland & Zentraleuropa GmbH       1107
59                          ALDI Einkauf SE & Co. oHG       1098
60                            Malteser in Deutschland       1093
61                          Vitesco Technologies GmbH       1092
62                                           HENSOLDT       1077
63                         Computacenter AG & Co. oHG       1065
64                                          ALDI Nord       1053
65                             METRO Deutschland GmbH       1037
66                                 DB Zeitarbeit GmbH       1028
67                          Adolf Würth GmbH & Co. KG        984
68                                    Pacura doc GmbH        980
69                                   Deutsche Post AG        980
70                                             Uniper        955
71                                  top itservices AG        930
72                                Otto (GmbH & Co KG)        928
73                                         REWE Group        920
74                                  GVO Personal GmbH        920
75                                          Accenture        904
76                         Landeshauptstadt Stuttgart        902
77                               Fressnapf Holding SE        898
78                                            Vonovia        889
79                                     Ratbacher GmbH        879
80                                    Pacura med GmbH        874
81                                       Dataport AöR        866
82                                         STRABAG AG        865
83                              MAN Truck & Bus Group        848
84                                      Bosch Rexroth        845
85                                            CHECK24        835
86                                 Tesla Germany GmbH        828
87                                          europa.eu        826
88                                          TARGOBANK        819
89                            MAN Energy Solutions SE        818
90                              PlanetHome Group GmbH        816
91                  Lidl Dienstleistung GmbH & Co. KG        816
92                                       Takeaway.com        808
93                              ARRK Engineering GmbH        807
94                                    TQ-Systems GmbH        804
95                           Drägerwerk AG & Co. KGaA        796
96                                         Vattenfall        793
97          STRABAG PROPERTY & FACILITY SERVICES GMBH        788
98                DEKRA Arbeit GmbH Personalabteilung        787
99                            Schneider Electric GmbH        787

In [35]:
start = time.time()
df = conn.execute(f'''
SELECT
    online_at,
    COUNT('a.job_id') as job_count
FROM curated.job_description a
INNER JOIN curated.job_online b ON (a.job_id = b.job_id)
WHERE
    a.company_name = 'Bosch Gruppe'
GROUP BY 1
ORDER BY 1 DESC
LIMIT 100
''').df()
print(time.time() - start)
display_df(df)

0.9006869792938232

    online_at  job_count
0  2022-09-22       2245
1  2022-09-21       2220
2  2022-09-20       2243
3  2022-09-19       2223
4  2022-09-18       2252
5  2022-09-17       2311
6  2022-09-16       2311
7  2022-09-15       2278
8  2022-09-14       2284
9  2022-09-13       2301
10 2022-09-12       2319
11 2022-09-11       2323
12 2022-09-10       2385
13 2022-09-09       2333
14 2022-09-08       2290
15 2022-09-07       2290
16 2022-09-06       2301
17 2022-09-05       2264
18 2022-09-04       2260
19 2022-09-03       2310
20 2022-09-02       2312
21 2022-09-01       2273
22 2022-08-31       2282
23 2022-08-30       2273
24 2022-08-29       2271
25 2022-08-28       2274
26 2022-08-27       2288
27 2022-08-26       2340
28 2022-08-25       2292
29 2022-08-24       2345
30 2022-08-23       2379
31 2022-08-22       2379
32 2022-08-21       2385
33 2022-08-20       2439
34 2022-08-19       2458
35 2022-08-18       2443
36 2022-08-17       2412
37 2022-08-16       2421
38 2022-08-15       2399
39 2022-08-14       2415
40 2022-08-13       2465
41 2022-08-12       2472
42 2022-08-11       2464
43 2022-08-10       2494
44 2022-08-09       2521
45 2022-08-08       2512
46 2022-08-07       2511
47 2022-08-06       2540
48 2022-08-05       2540
49 2022-08-04       2520
50 2022-08-03       2502
51 2022-08-02       2517
52 2022-08-01       2445
53 2022-07-31       2441
54 2022-07-30       2575
55 2022-07-29       2581
56 2022-07-28       2549
57 2022-07-27       2546
58 2022-07-26       2474
59 2022-07-25       2465
60 2022-07-24       2470
61 2022-07-23       2530
62 2022-07-22       2548
63 2022-07-21       2539
64 2022-07-20       2540
65 2022-07-19       2525
66 2022-07-18       2516
67 2022-07-17       2519
68 2022-07-16       2578
69 2022-07-15       2595
70 2022-07-14       2565
71 2022-07-13       2561
72 2022-07-12       2529
73 2022-07-11       2512
74 2022-07-10       2475
75 2022-07-09       2510
76 2022-07-08       2582
77 2022-07-07       2547
78 2022-07-06       2531
79 2022-07-05       2526
80 2022-07-04       2489
81 2022-07-03       2487
82 2022-07-02       2537
83 2022-07-01       2542
84 2022-06-30       2546
85 2022-06-29       2552
86 2022-06-28       2575
87 2022-06-27       2561
88 2022-06-26       2551
89 2022-06-25       2614
90 2022-06-24       2631
91 2022-06-23       2611
92 2022-06-22       2561
93 2022-06-21       2604
94 2022-06-20       2558
95 2022-06-19       2521
96 2022-06-18       2528
97 2022-06-17       2531
98 2022-06-16       2538
99 2022-06-15       2531

In [36]:
start = time.time()
df = conn.execute(f'''
WITH bosch_jobs AS (
    SELECT
        job_id
    FROM curated.job_description a
    WHERE
        a.company_name = 'Bosch Gruppe'
)
SELECT
     online_at
    ,COUNT('job_id') AS job_count
FROM curated.job_online
WHERE job_id in (
    SELECT job_id
    FROM bosch_jobs
)
GROUP BY 1
ORDER BY 1 DESC
''').df()
print(time.time() - start)
display_df(df)

0.7602357864379883

     online_at  job_count
0   2022-09-22       1951
1   2022-09-21       1929
2   2022-09-20       1943
3   2022-09-19       1921
4   2022-09-18       1944
5   2022-09-17       1996
6   2022-09-16       1999
7   2022-09-15       1968
8   2022-09-14       1975
9   2022-09-13       1989
10  2022-09-12       2002
11  2022-09-11       2004
12  2022-09-10       2055
13  2022-09-09       2015
14  2022-09-08       1985
15  2022-09-07       1985
16  2022-09-06       1998
17  2022-09-05       1973
18  2022-09-04       1967
19  2022-09-03       2013
20  2022-09-02       2015
21  2022-09-01       1978
22  2022-08-31       1984
23  2022-08-30       1973
24  2022-08-29       1967
25  2022-08-28       1969
26  2022-08-27       1984
27  2022-08-26       2030
28  2022-08-25       1986
29  2022-08-24       2030
30  2022-08-23       2065
31  2022-08-22       2063
32  2022-08-21       2067
33  2022-08-20       2120
34  2022-08-19       2137
35  2022-08-18       2122
36  2022-08-17       2091
37  2022-08-16       2095
38  2022-08-15       2074
39  2022-08-14       2085
40  2022-08-13       2129
41  2022-08-12       2142
42  2022-08-11       2133
43  2022-08-10       2161
44  2022-08-09       2189
45  2022-08-08       2182
46  2022-08-07       2174
47  2022-08-06       2202
48  2022-08-05       2210
49  2022-08-04       2192
50  2022-08-03       2180
51  2022-08-02       2184
52  2022-08-01       2119
53  2022-07-31       2110
54  2022-07-30       2217
55  2022-07-29       2224
56  2022-07-28       2194
57  2022-07-27       2192
58  2022-07-26       2125
59  2022-07-25       2113
60  2022-07-24       2116
61  2022-07-23       2174
62  2022-07-22       2193
63  2022-07-21       2185
64  2022-07-20       2185
65  2022-07-19       2168
66  2022-07-18       2148
67  2022-07-17       2147
68  2022-07-16       2198
69  2022-07-15       2217
70  2022-07-14       2186
71  2022-07-13       2190
72  2022-07-12       2154
73  2022-07-11       2144
74  2022-07-10       2109
75  2022-07-09       2140
76  2022-07-08       2207
77  2022-07-07       2172
78  2022-07-06       2158
79  2022-07-05       2151
80  2022-07-04       2111
81  2022-07-03       2107
82  2022-07-02       2150
83  2022-07-01       2160
84  2022-06-30       2161
85  2022-06-29       2166
86  2022-06-28       2183
87  2022-06-27       2169
88  2022-06-26       2157
89  2022-06-25       2211
90  2022-06-24       2229
91  2022-06-23       2213
92  2022-06-22       2171
93  2022-06-21       2209
94  2022-06-20       2164
95  2022-06-19       2127
96  2022-06-18       2133
97  2022-06-17       2139
98  2022-06-16       2148
99  2022-06-15       2148
100 2022-06-14       2158
101 2022-06-13       2117
102 2022-06-12       2119
103 2022-06-11       2165
104 2022-06-10       2186
105 2022-06-09       2167
106 2022-06-08       2181
107 2022-06-07       2156
108 2022-06-06       2162
109 2022-06-05       2188
110 2022-06-04       2229
111 2022-06-03       2229
112 2022-06-02       2158
113 2022-06-01       2094
114 2022-05-31       2126
115 2022-05-30       2022
116 2022-05-29       2021
117 2022-05-28       2057
118 2022-05-27       2056
119 2022-05-26       2062
120 2022-05-25       2074
121 2022-05-24       2089
122 2022-05-23       2059
123 2022-05-22       2037
124 2022-05-21       2101
125 2022-05-20       2118
126 2022-05-19       2097
127 2022-05-18       2107
128 2022-05-17       2096
129 2022-05-16       2057
130 2022-05-15       2067
131 2022-05-14       2110
132 2022-05-13       2129
133 2022-05-12       2092
134 2022-05-11       2100
135 2022-05-10       2190
136 2022-05-09       2119
137 2022-05-08       2067
138 2022-05-07       2083
139 2022-05-06       2100
140 2022-05-05       2109
141 2022-05-04       2104
142 2022-05-03       2104
143 2022-05-02       2079
144 2022-05-01       2061
145 2022-04-30       2102
146 2022-04-29       2041
147 2022-04-28       2016
148 2022-04-27       2020
149 2022-04-26       2023
150 2022-04-25       1991
151 2022-04-24       1945
152 2022-04-23       1975
153 2022-04-22       2022
154 2022-04-21       1974
155 2022-04-20       2024
156 2022-04-19       2025
157 2022-04-18       1979
158 2022-04-17       2055
159 2022-04-16       2055
160 2022-04-15       2098
161 2022-04-14       2124
162 2022-04-13       2110
163 2022-04-12       2126
164 2022-04-11       2107
165 2022-04-10       2050
166 2022-04-09       2117
167 2022-04-08       2123
168 2022-04-07       2103
169 2022-04-06       2103
170 2022-04-05       2109
171 2022-04-04       2087
172 2022-04-03       2085
173 2022-04-02       2082
174 2022-04-01       2148
175 2022-03-31       2029
176 2022-03-30       2752
177 2022-03-29       2507
178 2022-03-28       1769
179 2022-03-27       1769
180 2022-03-26       1769
181 2022-03-25       1769
182 2022-03-24       1768
183 2022-03-23       1768
184 2022-03-22       1768
185 2022-03-21       1768
186 2022-03-20       1768
187 2022-03-19       1768
188 2022-03-18       1768
189 2022-03-17       1768
190 2022-03-16       1768
191 2022-03-15       1768
192 2022-03-14       1768
193 2022-03-13       1769
194 2022-03-12       1769
195 2022-03-11       1769
196 2022-03-10       1769
197 2022-03-09       1769
198 2022-03-08       1770
199 2022-03-07       1770
200 2022-03-06       1770
201 2022-03-05       1770
202 2022-03-04       1784
203 2022-03-03       1760
204 2022-03-02       1760
205 2022-03-01       1787
206 2022-02-28       1783
207 2022-02-27       1775
208 2022-02-26       1774
209 2022-02-25       1782
210 2022-02-24       1737
211 2022-02-23       1716
212 2022-02-22       1698
213 2022-02-21       1671
214 2022-02-20       1680
215 2022-02-19       1693
216 2022-02-18       1733
217 2022-02-17       1701
218 2022-02-16       1669
219 2022-02-15       1685
220 2022-02-14       1657
221 2022-02-13       1670
222 2022-02-12       1698
223 2022-02-11       1735
224 2022-02-10       1694
225 2022-02-09       1691
226 2022-02-08       1634
227 2022-02-07       1628
228 2022-02-06       1592
229 2022-02-05       1615
230 2022-02-04       1622
231 2022-02-03       1594
232 2022-02-02       1561
233 2022-02-01       1602
234 2022-01-31       1557
235 2022-01-30       1538
236 2022-01-29       1547
237 2022-01-28       1597
238 2022-01-27       1567
239 2022-01-26       1546
240 2022-01-25       1521
241 2022-01-24       1446
242 2022-01-23       1413
243 2022-01-22       1427
244 2022-01-21       1447
245 2022-01-20       1391
246 2022-01-19       1372
247 2022-01-18       1294
248 2022-01-17       1321
249 2022-01-16       1290
250 2022-01-15       1316
251 2022-01-14       1346
252 2022-01-13       1309
253 2022-01-12       1290
254 2022-01-11       1290
255 2022-01-10       1304
256 2022-01-09       1301
257 2022-01-08       1319
258 2022-01-07       1327
259 2022-01-06       1327
260 2022-01-05       1344
261 2022-01-04       1333
262 2022-01-03       1360
263 2022-01-02       1368
264 2022-01-01       1385
265 2021-12-31       1389
266 2021-12-30       1492
267 2021-12-29       1475
268 2021-12-28       1475
269 2021-12-27       1475
270 2021-12-26       1476
271 2021-12-25       1476
272 2021-12-24       1476
273 2021-12-23       1477
274 2021-12-22       1464
275 2021-12-21       1452
276 2021-12-20       1447
277 2021-12-19       1427
278 2021-12-18       1450
279 2021-12-17       1454
280 2021-12-16       1408
281 2021-12-15       1382
282 2021-12-14       1364
283 2021-12-13       1340
284 2021-12-12       1323
285 2021-12-11       1338
286 2021-12-10       1369
287 2021-12-09       1355
288 2021-12-08       1313
289 2021-12-07       1307
290 2021-12-06       1292
291 2021-12-05       1257
292 2021-12-04       1267
293 2021-12-03       1285
294 2021-12-02       1269
295 2021-12-01       1242
296 2021-11-30       1242
297 2021-11-29       1227
298 2021-11-28       1222
299 2021-11-27       1223
300 2021-11-26       1254
301 2021-11-25       1236
302 2021-11-24       1241
303 2021-11-23       1233
304 2021-11-22       1226
305 2021-11-21       1218
306 2021-11-20       1231
307 2021-11-19       1253
308 2021-11-18       1237
309 2021-11-17       1218
310 2021-11-16       1173
311 2021-11-15       1165
312 2021-11-14       1152
313 2021-11-13       1156
314 2021-11-12       1157
315 2021-11-11       1161
316 2021-11-10       1150
317 2021-11-09       1139
318 2021-11-08       1129
319 2021-11-07       1123
320 2021-11-06       1129
321 2021-11-05       1142
322 2021-11-04       1137
323 2021-11-03       1102
324 2021-11-02       1113
325 2021-11-01       1097
326 2021-10-31       1101
327 2021-10-30       1109
328 2021-10-29       1124
329 2021-10-28       1105
330 2021-10-27       1065
331 2021-10-26       1050
332 2021-10-25       1045
333 2021-10-24       1032
334 2021-10-23       1040
335 2021-10-22       1053
336 2021-10-21       1036
337 2021-10-20       1022
338 2021-10-19       1008
339 2021-10-18       1002
340 2021-10-17       1003
341 2021-10-16       1014
342 2021-10-15       1026
343 2021-10-14       1016
344 2021-10-13        985
345 2021-10-12        967
346 2021-10-11        959
347 2021-10-10        934
348 2021-10-09        942

In [39]:
conn.close()